openapi: 3.0.0
info:
  title: Amazon Timestream Databases Tables API
  description: Amazon Timestream is a fast, scalable, and serverless time series database service for IoT and operational applications, enabling storage and analysis of trillions of events per day.
  version: '2018-11-01'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
    url: https://aws.amazon.com/timestream/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://ingest.timestream.amazonaws.com
  description: Amazon Timestream Write API endpoint
tags:
- name: Tables
  description: Operations for managing Timestream tables.
paths:
  /#CreateTable:
    post:
      operationId: CreateTable
      summary: Amazon Timestream Create Table
      description: Creates a new table in an existing database with configurable data retention policies for memory store and magnetic store.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.0:
            schema:
              type: object
              properties:
                DatabaseName:
                  type: string
                  description: The name of the Timestream database.
                TableName:
                  type: string
                  description: The name of the Timestream table.
                RetentionProperties:
                  type: object
                  properties:
                    MemoryStoreRetentionPeriodInHours:
                      type: integer
                      description: The duration for which data must be stored in the memory store.
                    MagneticStoreRetentionPeriodInDays:
                      type: integer
                      description: The duration for which data must be stored in the magnetic store.
                MagneticStoreWriteProperties:
                  type: object
                  properties:
                    EnableMagneticStoreWrites:
                      type: boolean
                Tags:
                  type: array
                  items:
                    type: object
                    properties:
                      Key:
                        type: string
                      Value:
                        type: string
              required:
              - DatabaseName
              - TableName
      responses:
        '200':
          description: Table created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Table:
                    type: object
                    properties:
                      Arn:
                        type: string
                      TableName:
                        type: string
                      DatabaseName:
                        type: string
                      TableStatus:
                        type: string
                      RetentionProperties:
                        type: object
      tags:
      - Tables
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /#DescribeTable:
    post:
      operationId: DescribeTable
      summary: Amazon Timestream Describe Table
      description: Returns information about the table, including the table name, database name, retention duration of the memory store and the magnetic store.
      requestBody:
        required: true
        content:
          application/x-amz-json-1.0:
            schema:
              type: object
              properties:
                DatabaseName:
                  type: string
                TableName:
                  type: string
              required:
              - DatabaseName
              - TableName
      responses:
        '200':
          description: Table details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  Table:
                    type: object
                    properties:
                      Arn:
                        type: string
                      TableName:
                        type: string
                      DatabaseName:
                        type: string
                      TableStatus:
                        type: string
                      RetentionProperties:
                        type: object
                      MagneticStoreWriteProperties:
                        type: object
      tags:
      - Tables
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
